@import '_global.scss';

#menu-icon {
    font-size: 32px;
    color: var(--bg-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

@import '_variables.scss';
@import 'components/_header.scss';
@import 'components/_home.scss';
@import 'components/_tabs.scss';
@import 'components/_about.scss';
@import 'components/_shop.scss';
@import 'components/_row.scss';
@import 'components/_review.scss';
@import 'components/_box.scss';
@import 'components/_contact.scss';
@import 'components/_scroll.scss';

@import '_media.scss';

