.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 14%;
    transition: all .50% ease;
    &__logo {
        display: flex;
        align-items: center;
        color: var(--text-color);
        font-size: 33px;
        font-weight: 700;
    }
    &__icon {
        vertical-align: middle;
        margin-right: 8px;
        color: var(--main-color);
    }
    &__nav-icons {
        display: flex;
        align-items: center;
        padding: 8px 15px;
        background: var(--main-color);
        border-radius: 3rem;
        box-shadow: #ff9f0d 0px 1px 25px;
    }
    &__nav-icons i {
        vertical-align: middle;
        font-size: 25px;
        color: var(--bg-color);
        margin-right: 8px;
        margin-left: 5px;
        transition: all .50s ease;
    }
    &__nav-icons i:hover {
        transform: scale(1.1);
        color: var(--text-color);
    }
}

.navlist {
    display: flex;
    list-style: none;
    a {
        color: var(--text-color);
        font-size: var(--p-font);
        font-weight: 600;
        margin: 0 30px;
        transition: all .50s ease;
    }
    a:hover {
        color: var(--main-color);
    }
    a.active {
        color: var(--main-color);
    }
}
